<!-- jQuery -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/js/mdb.min.js"></script>
<!-- Your custom scripts (optional) -->
<script type="text/javascript">
  var a = document.getElementById('disc-50');
  a.onclick = function () {
    Clipboard_CopyTo("T9TTVSQB");
    var div = document.getElementById('code-success');
    div.style.display = 'block';
    setTimeout(function () {
      document.getElementById('code-success').style.display = 'none';
    }, 900);
  };

  function Clipboard_CopyTo(value) {
    var tempInput = document.createElement("input");
    tempInput.value = value;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand("copy");
    document.body.removeChild(tempInput);
  }
</script>
</body>
</html>
