
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../family">Tea</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../coffee">Coffee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../eats">Eats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../contactUs">Contact Us</a>
        </li>
      </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light">
                <i class="fas fa-shopping-bag"></i>
              </a>
            </li>
          </ul>
    </div>
  </nav>
  <!--/.Navbar -->