
<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

<div class="container">
    <br><h4>Contact Us</h4><br>
    <a href="http://localhost:3000/">Christina Celestino's Home Page</a>
</div>

<%- include('layouts/footer.ejs') %>