
<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

<div class="container">
    <br><h4>Contact Us</h4><br>
    <a href="http://localhost:3000/">Christina's Home Page</a><br>
    <a href="http://localhost:4000/">Vanessa's Home Page</a><br>
    <a href="http://localhost:5000/">Ron's Home Page</a>
</div>
<%- include('layouts/footer.ejs') %>