
<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

<div class="homeBG">
    <br><br><br><br><br><br>
    <h1 class="home" style=font-size:100px><strong>Coffee Shop</strong></h1>
    <h3 class="home">Welcome to our shop! Click the tabs to view our menu!</h3>
</div> 

<%- include('layouts/footer.ejs') %>